// COLORS
$color-primary: #554DDE;
$color-primary-accent: #F44E77;
$color-primary-stroke: #CAD6F1;
$color-primary-neutral: #F2F6FF;
$color-primary-white: #fff;
$color-secondary-light: #6A6D9E;
$color-secondary-dark: #16194F;


$color-blue-violet-50: #eff2fe;
$color-blue-violet-100: #e1e8fe;
$color-blue-violet-800: #3b359e;
$color-blue-violet-950: #201d49;

$color-dashboard-light-1:#3b359e;
$color-dashboard-light-2: #07A0C3;
$color-dashboard-light-3:#fff;