@import '../globals/variables';

.auth{
    position: relative;
    height: 100vh;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-primary;

    .auth_body{
        background: $color-primary-white;
        max-width: 768px;
        width: 40%;
        max-height: 100%;
        overflow: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;

        h1{
            font-size: 1.8rem;
            margin: 1rem 0;
        }
     }

    form{
        p{
            text-align: start;
            font-weight: 600;
        }
    }
}

.forgot_text{
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 600;
}

.signup{
    height: 100vh;
    display: flex;
    .sub_signup_one{
      padding: 2rem 0;
      background: $color-primary-stroke;
      flex-basis: 50%;
    }
      .sub_signup_two{
       padding: 2rem 0;
       background: $color-primary;
       color: $color-primary-white;
       flex-basis: 50%;
    }
     .auth_body{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $color-primary-white;
        max-width: 768px;
        width: 40%;
        max-height: 60%;
        overflow: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
          h1{
            font-size: 1.8rem;
            margin: 1rem 0;
        }
     }
}