.auth{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        background-color: #F44E77;
        width: 50%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 3rem 7rem;
    }
}