@import '../abstracts/variables';

.dashboard_container{
    display: flex;
    background-color: #EFEFEF;

    .flex_one{
        width: 15%;
        height: 100vh;
    }

    .flex_two{
        width: 95%;

        & .navbar{
         margin-bottom: 20px;
        }

        &_inner_container{
            // margin: 0 auto;
        }
    }
}