@import '../abstracts/variables';

.dashboard_container{
    display: flex;
    background-color: #EFEFEF;

    .flex_one{
        width: 15%;
        height: 100vh;
    }

    .flex_two{
        width: 95%;

        & .navbar{
          height: 50vh;
        }

        &_inner_container{
            width: 90%;
            margin: 0 auto;
        }
    }
}