@import '../globals/variables';

.home_container{
    padding-top: 30px;
    display: flex;
    height: 100vh;
    // max-height: 100%;
    background-color: #EFEFEF;
    // flex-direction: column;

    &_flex_one {
        width: 70%;
    }

    &_flex_two {
        width: 30%;
        // background-color: red;
    }
}