// COLORS
$color-primary: #554DDE;
$color-primary-accent: #F44E77;
$color-primary-stroke: #CAD6F1;
$color-primary-neutral: #F2F6FF;
$color-primary-white: #fff;
$color-secondary-light: #6A6D9E;
$color-secondary-dark: #16194F;


$color-blue-violet-50: #eff2fe;
$color-blue-violet-100: #e1e8fe;
$color-blue-violet-800: #3b359e;
$color-blue-violet-950: #201d49;

$color-dashboard-light-1:#3b359e;
$color-dashboard-light-2: #07A0C3;
$color-dashboard-light-3:#fff;
$color-dashboard-light-4: #6F42CE;


// SHADOWS
$shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$hadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
