@import '../globals/variables';
.card_container{
    width: 100%;
    padding: 20px;
    border: 20px;
    border-radius: 20px;
    color: #fff;
    position: relative;

    .title{
        font-size: 1.4rem;
        font-weight: 400;
    }

    .mid_container{
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        gap: 30px;
        align-items: center;

        & .text{
            font-size: 2.5rem;

        }
    }

    .mini_container{
        padding: 5px;
        border-radius: 10px;
        background-color: #fff;
        color: #000;
        display: flex;
        align-items: center;
        gap: 10px;

        & .text{
            font-size: x-small;
        }
    }

    .mini_text{
        font-size: small;
    }
}

.income{
    background-color: $color-primary-accent;
}

.outgoing{
    background-color: $color-dashboard-light-4;
}

.circle_one{
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    border-radius: 0 100px 0 100px;
    height: 100px;
    border: 5px solid #FEC025;
    background-color: transparent;
    border-right: 0;
    rotate: 0deg;
    border-top: 0;
}

.circle_two{
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    border-radius: 0 100px 0 100px;
    height: 80px;
    rotate: 180deg;
    background-color: transparent;

    &_income{
        border: 5px solid #6F42CE;
        border-left: 0;
        border-bottom: 0;
    }

    &_outgoing{
        border: 5px solid #36B6D4;
        border-left: 0;
        border-bottom: 0;
    }
}

// .circle_one{
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 100px;
//     border-radius: 0 100px 0 100px;
//     height: 100px;
//     border: 3px solid #FEC025;
//     background-color: transparent;
// }

// .circle_two{
//     position: absolute;
//     right: 15px;
//     bottom: 40px;
//     width: 100px;
//     border-radius: 0 100px 0 100px;
//     height: 100px;
//     rotate: 165deg;
//     background-color: transparent;

//     &_income{
//         border: 3px solid #6F42CE;
//     }

//     &_outgoing{
//         border: 3px solid #36B6D4;
//     }
// }