@import '../globals/variables';

.curvedpatch{
    background-color: #fff;
    border-radius: 50px;
    padding: 20px 0;
    width: 200px;
    box-shadow: $shadow-1;

    & .small_text{
         color: black;
    }

    & .large_text{
        color: $color-primary;
   }
}