@import '../globals/variables';

.curvedpatch{
    background-color: #fff;
    border-radius: 50px;
    padding: 20px 0;
    width: 200px;
    box-shadow: $shadow-1;

    & .small_text{
         color: black;
         font-size: 1rem;
         font-weight: 300;
    }

    & .large_text{
        color: $color-primary;
        font-size: 2rem;
        font-weight: 600;
   }
}