@import '../globals/media-query';
@import '../globals/variables';

.header{
   background-image: url("../assets/header_bg.png");
   background-position: bottom center right;
   padding: 0 2rem;

    &_container{
         margin: auto;
        margin-top: 1rem;
    
        &__nav__ul{
            display: flex;
            width: 30%;
            list-style-type: none;  
            gap: 2rem;
            align-items: center;

            & li{
                color: white;
                font-size: small;
                font-size: 1rem;
            }
        }

        &__section{
            display: block;
            color: white;
            &__one{
                flex-basis: 40%;
                margin-top: 5rem;
                padding-bottom: 2rem;
                & p{
                    margin: 0.9rem 0;
                }
            };

            &__two{
                display: none;
            };
        }
    }
    
   @include md {
                padding: 0 3rem;
                background-origin: padding-box;
                background-size: cover;

                &_container{
                   margin-top: 3.75rem;

                    &__section{
                        display: flex;
                        align-items:flex-start;

                        &__one{
                            flex-basis: 40%;
                            margin-top: 11rem;
                            & p{
                                margin: 0.9rem 0;
                            }
                        };

                        &__two{
                        display: block;
                        flex-basis: 60%;
                        };
                    }
                }
          
    }

}


.header_container__nav{
     margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;

    &.optional_nav{
        padding: 2rem 5rem;
        box-shadow: 0px 10px 11px 0px rgb(236, 239, 239);
        -webkit-box-shadow: 0px 10px 11px 0px rgb(236, 239, 239);
        -moz-box-shadow: 0px 10px 11px 0px rgb(236, 239, 239);
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
    }
}


.flex{
   display: none;
    @include md{
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
}

.no-display{
    display: none;
}

.nav-toggle {
  font-size: 1.5rem;
  color: $color-primary;
  padding: 0.5rem;
  background: $color-primary-white;
  border-radius: 0.25rem;
  border-color: transparent;
  transition: transform 0.3ms;
  cursor: pointer;
     @include md{
       display: none;
    }
}

.nav-toggle:hover {
  transform: scale(1.05);
}

.nav-menu{
  transition: display 0.3ms;
}