@import '../globals/media-query';
@import '../globals/variables';

.header{
   background-image: url("../assets/header_bg.png");
   background-position: bottom center right;
   padding: 0 2rem;


    &_container{
         margin: auto;
        margin-top: 1rem;
    
        &__nav__ul{
            display: flex;
            width: 30%;
            list-style-type: none;  
            gap: 2rem;
            align-items: center;

            & li{
                color: white;
                font-size: small;
                font-size: 1rem;
            }
        }

        &__section{
            display: block;
            color: white;
            &__one{
                margin-top: 5rem;
                padding-bottom: 2rem;
                & p{
                    margin: 0.9rem 0;
                }
            };

            &__two{
                display: none;
            };
        }
    }
    
   @include md {
                padding: 0 3rem;
                background-origin: padding-box;
                background-size: cover;

                &_container{
                   margin-top: 3.75rem;

                    &__section{
                        display: flex;
                        align-items:flex-start;

                        &__one{
                            flex-basis: 40%;
                            & p{
                                margin: 0.9rem 0;
                            }
                        };

                        &__two{
                        display: block;
                        flex-basis: 60%;
                        };
                    }
                }
          
    }

    @include lg {
         &_container{
                &__section{
                     &__one{
                          margin-top: 11rem;
                        };
                }
         }
    }

}


.header_container__nav{
    padding-top: 3rem;
    //  height: 100vh;

    &__container{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.optional_nav{
        padding: 2rem 5rem;
        box-shadow: 0px 10px 11px 0px rgb(236, 239, 239);
        -webkit-box-shadow: 0px 10px 11px 0px rgb(236, 239, 239);
        -moz-box-shadow: 0px 10px 11px 0px rgb(236, 239, 239);
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
    }

    @include md{
    //  position: sticky;
    //  top: 0;
    }
}


.no-display{
    display: none;

       @include md{
       display: flex;
    }
}

.nav-toggle {
  font-size: 1.5rem;
  color: $color-primary;
  padding: 0.5rem;
  background: $color-primary-white;
  border-radius: 0.25rem;
  border-color: transparent;
  transition: transform 0.3ms;
  cursor: pointer;
     @include md{
       display: none;
    }
}

.nav-toggle:hover {
  transform: scale(1.05);
}

.nav-menu{
  transition: 300ms linear;
  color: $color-primary;
  background-color: $color-primary-white;
  position: fixed;
  padding: 30px 20px;
  padding-top: 3rem;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1.5px solid $color-dashboard-light-1;
  z-index: 999;
  display: flex;
  flex-direction: column;

  & ul {
   list-style-type: none;
     display: flex;
     justify-content: space-around;
    flex-direction: column;
    gap: 20px;
  }

  &-btn{
    display: flex;
    margin-top: 6rem;
    justify-content: center;
  }
}

.close-icon{
    font-size: 2rem;
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    align-self: flex-end;
}