@import '../globals/variables';

.sidebar_container{
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    border-right: 2px solid #fff;
    height: 100%;
    margin: 0 auto;
}
.sub_container{
    width: 90%;

    .navbar{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.option{
    color: #fff;
    font-size: 1.8rem;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;

    p{
        font-size: 1.2rem;
    }

    // .last{
    //     bottom: 100;
    // }

    &:hover, a.active &{
        cursor: pointer;
        border-radius: 20px;
        background-color: rgba(245, 245, 245, 0.3); /* Use the color with an alpha channel for transparency */
        backdrop-filter: blur(10px); /* Apply a blur effect */
    }
}

.glassmorphic-container {
    background-color: rgba(202, 214, 241, 0.5); /* Use the color with an alpha channel for transparency */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    border-radius: 10px; /* Optional: Apply border-radius for a rounded appearance */
    padding: 20px; /* Optional: Add padding for content */
  }